<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProductAll</servlet-name>
        <servlet-class>Controllers.ProductAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadImage</servlet-name>
        <servlet-class>Controllers.LoadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>Controllers.Checkout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAll</servlet-name>
        <url-pattern>/ProductAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadImage</servlet-name>
        <url-pattern>/loadimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controllers.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controllers.Cart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InsertProduct</servlet-name>
        <servlet-class>Controllers.InsertProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertProduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeManger</servlet-name>
        <servlet-class>Controllers.HomeManger</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeManger</servlet-name>
        <url-pattern>/homemanager</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controllers.ChangePass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgetPass</servlet-name>
        <servlet-class>Controllers.ForgotPass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPass</servlet-name>
        <url-pattern>/fogetpass</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Controllers.ResetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controllers.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProductDetail</servlet-name>
        <servlet-class>Controllers.InsertProductDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductDetail</servlet-name>
        <url-pattern>/addproductdetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>Controllers.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/createaccount</url-pattern>
    </servlet-mapping>
</web-app>
